.section-video {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(/img/fon.png); 
    height:570px;
}

.section-video-title {
    margin:0;
    padding-top:70px;
    padding-bottom: 30px;
    font-size: 2rem;
    line-height: 53px;
    color: #fff;
    text-align:center;
}

.section-video-text {
    margin:0;
    text-align:center;
    font-size: 1rem;
    line-height: 25px;
    color: #fff;
    padding-bottom: 70px;
}

.video-content {
    text-align:center;
    padding-bottom: 85px;
}

.video-content-item {
    background-image: url(/img/video.png);
    height:430px;
    width:970px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.video-content-item {
    display:flex;
    justify-content:center;
    align-items: center;
}

.btn-image {
    width: 60px;
    height:60px;
    margin-right:20px;
}

.video-content-setting {
    display:flex;
    align-items: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 200px;
    padding: 20px 30px 20px 40px;
    cursor:pointer;
}

.btn-text {
    font-size: 1rem;
    line-height: 25px;
    color:white;
}

.video-line {
    height: 1px;
    background-color: #E0E0E0;
    border: 1px solid #E0E0E0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:1100px;
    margin-top: 0px;
    margin-bottom:85px;
}

.mailing-content {
    padding-top:250px;
    text-align:center;
}

.mailing {
    margin:0;
    font-size: 1.1rem;
    line-height: 22px;
}

.mailing-text {
    margin:0;
    margin-top:20px;
    color:#999999;
    font-size: 1rem;
    line-height: 25px;
}

