@font-face {
    font-family: Montserrat;
    src:url(./Montserrat/Montserrat-Regular.ttf);
}

.standarts {
    background-color:#F6F6F8;
    padding-top: 100px;
}

.standarts-text {
    display: flex;
    justify-content:center;
}

.standarts-text-right {
    padding-left: 150px;
}

.standarts-text-right-image {
    width:500px;
    height: 400px;
}

.standarts-text-left-title {
    font-size: 2.25rem;
    line-height: 45px;
    color: #323232;
    font-family: Montserrat;
}

.standarts-text-left-text {
    color: #999999;
    font-size:1rem;
    font-family: Montserrat;
    line-height: 25px;
}

.standarts-text-left-click {
    color:#4985FF;
    font-size:1rem;
}

.line {
    margin-top:90px;
    height: 1px;
    background-color: #E0E0E0;
    border: 1px solid #E0E0E0;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:1150px;
}

.btm-title, .btm-text {
    margin:0;
}

.standarts-btm {
    display: flex;
    justify-content:center;
    gap:20px;
}

.standarts-btm-list {
    margin:0;
    padding:0;
    list-style: none;
    display:flex;
    flex-direction: row;
}

.standarts-btm-item {
    width:105px;
    display:flex;
    flex-wrap:wrap;
    margin-right:100px;
    margin-bottom: 70px;
}

.standarts-btm-item:last-child {
    margin-right:0;
}

.btm-image {
    margin-right:10px;
}

.btm-title {
    font-size:2rem;
    line-height: 53px;
}

.btm-text {
    color:#999999;
    font-size: 1rem;
    line-height: 25px;  
    display:flex;
    justify-content:center;
}





