@font-face {
    font-family: 'Roboto', sans-serif;
    src:url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width:100%;
    height:100%;
    
}

* {
    box-sizing: border-box;
}

body {
    font-size:16px;
    color:white;
    background: #252B42;
}

header {
    position:relative;
}

header svg {
    position: absolute;
    z-index: -10;
    width: 100%;
}

.top-main {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin: 0 9.7rem 9.5rem 10.3rem;
    padding-top:3.4rem;
}

.main-item{
    text-decoration:none;
    margin-top:auto;
    margin-bottom:auto;
}

.main-item{
    line-height: 1.7rem;
    font-size:0.9rem;
    letter-spacing: 0.2px;
    color:white;
    outline: none;
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.email-input ,.name-input{
    width:273px;
    height:3.4rem;
    color: #18171D;
    padding-left:20px;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    outline: none;
    background: #EFEFEF;
    margin-right:0.5rem;
    font-size:0.87rem;
    letter-spacing: 0.1px;
}

.btn-email {
    width:8.8rem;
    height:3.4rem;
    border-radius: 35px;
    outline: none;
    cursor:pointer;
    border: 1px solid white;
    background-color:white;
    color: #2091F9;
    font-size:1rem;
    font-weight: 500;
}

.text-top {
    margin:0;
    text-align:center;
    font-size:1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1px;
    margin-bottom:1rem;
}

.title-top {
    margin:0;
    text-align:center;
    font-size: 3.4rem;
    letter-spacing: 0.2px;
    margin-bottom:1.7rem;
}

.info-top {
    text-align:center;
    line-height: 20px;
    font-size:1rem;
    letter-spacing: 0.2px;
    margin-bottom: 5.6rem;
}

.try {
    width:14.8rem;
    height:4rem;
    font-size:30px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    line-height: 2rem;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom:180px;
}

.mackbook {
    text-align:center;
}

.top-mackbook {
    width: 90%;
    max-width: 1054px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:140px;
}

.features-section {
    text-align:center;
}

.features-section h3 {
    letter-spacing: 0.1px;
    font-weight: 500;
    font-size: 1.4rem;
    margin:0;
    margin-top:6rem;
    margin-bottom:1.07rem;
    line-height: 33px;
}

.features-section h2 {
    letter-spacing: 0.2px;
    font-size: 2.9rem;
    margin:0;
    margin-bottom:1.7rem;
    line-height: 57px;
}

.features-section h4 {
    letter-spacing: 0.2px;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: bold;
    margin-bottom: 8.75rem;
}

.features-content h3 {
    margin:0;
}

.features-img {
    max-width: 950px;
   width:100%;
}

.features-item {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.features-content {
    margin-top:10%;
    max-height:290px;
}

.features-content-item {
    display:flex;
    flex-wrap:wrap;
    max-height:154px;
    max-width:255px;
}

.features-content-item img {
    margin-right:10px;
    margin-bottom:15px;
}

.features-content-item h3 {
    margin-top:10px;
    
}

.features-content-item p {
    margin:0;
    text-align:left;
    font-size: 1.1rem;
    line-height: 1.7rem;
    
}

.features-content-item:last-child {
    margin-top:70px;
}

.section-shop {
    margin:100px 0;  
}

.title-top-shop {
    font-size: 46px;
    line-height: 57px;
    font-weight: normal;
    text-align:center;
}

.button-shop {
    display:flex;
    justify-content:center;
    gap:16px;
}

.btn-shop {
    max-width:124px;
    width:100%;
    height:3.2rem;
    border-radius: 35px;
    outline: none;
    cursor:pointer;
    border: 1px solid white;
    background-color:white;
    color: #2091F9;
    font-size:1rem;
    font-weight: 500;
    letter-spacing: 0.2px;
    font-weight: 600;
}

.btn-free {
    max-width:172px;
    width:100%;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 35px;
    border: 1px solid white;
    background-color:#252B42;
    font-size:1rem;
    color:white;
    outline: none;
    cursor:pointer;
}

.section-subscription {
    margin:200px 0;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:120px;
      
}

.subscription-content h2, .subscription-content h3 {
    text-align:left;
}

.subscription-content-img img {
    width: 100%;
    height: 100%;
}

.img-email { 
    width:100%;
    height:100%;
}

.subscription-content p, .subscription-content h3 {
    margin:0;
}

.subscription-content p {
    font-size:1.1rem;
    letter-spacing: 0.2px;
    line-height: 27px;
    margin-bottom:34px;
}

.subscription-content h2 {
    margin:0;
    margin-top:17px;
    margin-bottom:35px; 
}

.subscription-content {
    margin-top:80px;
}

.subscription-content button {
    color:white;
    background-color: #2091F9;
    border: 1px solid #2091F9;
}

.partners-title {
    margin:0;
    font-size: 2.9rem;
    line-height: 3.6rem;
    font-weight: normal;
    letter-spacing: 0.2px;
    margin-bottom:27px;
}

.section-partners {
    text-align:center;
}

.section-partners h4 {
    margin-bottom:110px;
}

.partners-img {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:67px;
    margin-bottom:100px;
}

.section-partners button {
    color:white;
    background-color:#2091F9;
    border: 1px solid #2091F9;
    margin-bottom:190px;
}

.testimonials-section h2 {
    text-align:center;
    font-weight: 100;
    margin:0;
    margin-bottom:90px;
}

.testimonials-comment {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    column-gap:60px;
    row-gap:104px;
    margin-bottom:80px;
}

.testimonials-comment-item {
    background-color:white;
    border: 1px solid #DEDEDE;
    border-radius:10px;
    width:100%;
    height:541px;
    max-width: 335px;
    text-align:center;
}

.testimonials-text, .comment-job {
    color:#374754;
}

.testimonials-text {
    font-size: 1.1rem;
    line-height: 1.7rem;
    letter-spacing: 0.2px;
    margin:0;
    margin-bottom: 42px;
}

.comment-job {
    font-size: 0.75rem;
    line-height: 1.1rem;
    letter-spacing: 0.1px;
    font-weight: bold;
    margin:0;
}

.comment-name {
    font-size: 0.95rem;
    line-height: 1.7rem;
    letter-spacing: 0.2px;
    color: #252B42;
    margin:0;
    margin-top:32px;
    margin-bottom:10px;
}

.testimonials-img {
    margin:40px 0;
}

.testimonials-section button {
    max-width:280px;
    width:100%;
    padding:0;
    background: #2091F9;
    border: 1px solid #2091F9;
    color:white;
    font-weight:bold;
}

.section-pricing {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:284px;
    margin-top:30px;
    margin-bottom:310px;
}

.pricing-item-title, .pricing-item-title-second{
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
    margin:0;
    margin-bottom:26px;
    letter-spacing: 0.2px;
}

.pricing-item p {
    margin:0;
    font-size: 1.1rem;
    line-height: 1.7rem;
    letter-spacing: 0.2px;
    font-weight:normal;
}

.pricing-item div {
    display:flex;
    margin-bottom:16.5px;
}

.pricing-item-title-second {
    margin:0;
    margin-right:10px;
}

.pricing-item h4, .section-contact h4 {
    margin:0;
    margin-bottom:16.5px;
   
    font-size: 1rem;
    line-height: 1.25rem;
}

.pricing-item h4:nth-child(2) {
    margin:0;
    margin-top:auto;
    margin-bottom:auto;
}

.pricing-item h4:nth-child(3) {
    margin:0;
    margin-bottom:19px;
}

.pricing-item button {
    width:159px;
    background: #2091F9;
    color:white;
    border:1px solid #2091F9;
}

.section-contact {
    text-align:center;
    margin-bottom:216px;
}

.section-contact h4{
    margin-bottom:51px;     
}

.section-contact-img{
    display:flex;
    justify-content:center;
    gap:33px;
}

.contact-img {
    width:90%;
    max-width:871px;
    margin-bottom:69px;
    margin-top:75px;
}

.maps-img {
    width:25px;
    height:31px;
    margin-left:auto;
    margin-right:auto;
}

.contact-item {
    display:flex;
    flex-direction:column;
}

.contact-item-text {
    margin:0;
}

.section {
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-bottom: 60px;
}

.contact-item img {
    margin-bottom:10px;
}

.form-contact {
    padding: 52px 50px;
    background-color:white;
    width:90%;
    max-width:868px;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
}

.form-contact h3{
    color:#252B42;
    font-size: 22px;
    line-height: 33px;
    margin:0;
    margin-bottom:45px;
}

.form-contact input {
    width:100%;
    max-width:768px;
    color:#18171D;
    margin:0;
    margin-bottom:45px;
}

.form-textarea {
    outline: none;
    resize: none;
    height:193px;
    width:100%;
    max-width:768px;
    border: 1px solid #E8E8E8;
    padding: 23px 20px;
    background:#F5F5F5;
    font-size: 0.95rem;
    line-height: 1rem;
    margin-bottom:45px;
    font-family: 'Roboto', sans-serif;
}

.form-contact button {
    background-color:#2091F9;
    width:145px;
    color:white;
}

.footer-list {
    display:flex;
    flex-direction: column;
    gap:16px;
}

.footer-list-item {
    color:white;
    text-decoration:none;
    font-size: 0.95rem;
    line-height: 1.7rem;
    letter-spacing: 0.2px;
}

.footer-title {
    margin:0;
    margin-bottom:25px;
}

.footer-section {
    display:flex;
    justify-content:center;
    gap:128px;
    flex-wrap:wrap;
    padding-bottom:140px;
}

.footer-list-last img {
    width:170px;
    height:41px;
    margin-bottom:10px;
}

.footer-list-last h3, .footer-list-last p {
    margin:0;
    text-align:left;
}

.footer-list-last p {
    margin-top:5px;
    margin-bottom:29px;
    font-size: 1.1rem;
}

.footer-list-last input, .footer-list-last button {
    width:353px;
}

.footer-list-last button {
    height:50px;
    margin-top:12px;
    background: #2091F9;
    color:white;
    border:1px solid #2091F9;
}

@media screen and (max-width: 1225px) and (min-width: 700px) {
    .features-content {
        display:flex;
        justify-content:space-around;
        gap:40px;
        margin:0;
    }

    .features-content-item:last-child {
        margin:0;
    }
}


